* {
  margin: 0;
  padding: 0;
}
header {
position: relative;
} 
section {
  /* position is static by default */
  margin-left: 200px;
}

body {
background-color: #8ab22e;
font-family: Artifica;
background-image: url(./tablewithflowers.jpg);
background-position: right;
background-repeat: no-repeat;
}

.toolbar li{
display: inline;
background-color: #ffd586;
border: 1px solid;
border-color: #F3F3F3 #BBB #BBB #F3F3F3;
padding: .30em
}

.data {
    float: left;
    width: 200px;
    heigh: 100px;
    margin: 1em;
}

img {
    float: left;
    margin: 2em;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color:#c4d3da;
  width: 100%;
} 