* {
  margin: 0 auto;
  padding: 0;
}
@media print {
  body,
  html {
    min-width: 1200px;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    border: none;
  }
  
body {
width: normal;
background-color: #CD9B9B;
font-family: 'Open Sans', serif;
font-size: 18px;
background-image: url(./mountains.png);
color: #272a0f;
background-position: bottom;
background-repeat: no-repeat;
}
h1 {
  color: #8B3E2F;
  font-size:40px;
  }
h2 {
  color: #CD8162; 
  font-size:30px;
  }
p {
  color: #8B2323; 
  font-size:25px;
  }


.toolbar li{
display: inline;
color: #272a0f;
background-color: #e6eee3;
border: 1px solid;
border-color: #F3F3F3 #BBB #BBB #F3F3F3;
font-size: xx-large;
border-radius: 30px;
box-shadow: 10px 10px 5px #677077;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
padding: .10em
}

header {
position: absolute;
display: inline-block;
background-color: #8B3A3A;
width: 600px;
color: #272a0f;
font-size: xx-large;
border-radius: 30px;
box-shadow: 10px 10px 5px #677077;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
} 

#main {
  max-width: 600px;
  margin: 0 auto;
}

.data {
    float: left;
    width: 100px;
    heigh: 100px;
    margin: 1em;
    top: 20px;
}

article, header, footer, main, div, nav {
  display: block;
}

img {
    float: left;
    margin: 2em;
    width: 500px;

}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color:#c4d3da;
  width: 100%;
} 

div {
  padding: 40px 40px;
  background-color: #fe777d;
  background: linear-gradient(wite #fe777d);
  width: 300px;
  color: #604a1d;
  font-size: medium;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #677077;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
article {
  background-color: #B9F73E;
  clear: left;
  box-shadow: 10px 10px 5px #677077;
}

.t-text {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: #000000;
}
.t-text_xs {
  font-size: 15px;
  line-height: 1.55;
}
.t-text_sm {
  font-size: 18px;
  line-height: 1.55;
}
.t-text_md {
  font-size: 20px;
  line-height: 1.55;
}
.t-text_lg {
  font-size: 22px;
  line-height: 1.55;
}
.t-text_weight_plus {
  font-weight: 400;
}
.t-text-impact {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: #000000;
}
.t-text-impact_xs {
  font-size: 26px;
  line-height: 1.50;
}
.t-text-impact_sm {
  font-size: 32px;
  line-height: 1.35;
}
.t-text-impact_md {
  font-size: 38px;
  line-height: 1.35;
}
.t-text-impact_lg {
  font-size: 42px;
  line-height: 1.23;
}
.t-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-name_xs {
  font-size: 16px;
  line-height: 1.35;
}
.t-name_sm {
  font-size: 18px;
  line-height: 1.35;
}
.t-name_md {
  font-size: 20px;
  line-height: 1.35;
}
.t-name_lg {
  font-size: 22px;
  line-height: 1.35;
}
.t-name_xl {
  font-size: 24px;
  line-height: 1.35;
}
.t-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-heading_xs {
  font-size: 26px;
  line-height: 1.23;
}
.t-heading_sm {
  font-size: 28px;
  line-height: 1.17;
}
.t-heading_md {
  font-size: 30px;
  line-height: 1.17;
}
.t-heading_lg {
  font-size: 32px;
  line-height: 1.17;
}